body {
	font-family: Verdana, Arial, Georgia;
	background-color: #006400;
	color: #006400;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#baraOrizontala {
		height:40px;
		background-color: blue;
		border: 1px outset #15541E;
	}
.meniuOrizontal {
	list-style-type: none; <!== Elimina bulinele din fata meniurilor ==>
	background-color: yellow;
	margin-top: 4px;
	padding: 2px;

}

.meniuOrizontal li{
	display: inline-block;
	float: left;
	border-right: 1px solid #FFF;
	background-color: #60DA72;
	padding: 5px;
	cursor: pointer;

}
#header {
	height: 100px;
	background-color: #3A4;
	color: #FFF;
	text-align:center;
	padding:20px;
}

#barSeparator {
		height: 20px;
		background-color: blue;
		border: 1px outset #15541E;
}

#parteaStanga {
	width: 20%;
	background-color: #3A4;
	min-height:400px;
	float:left;
}

.logo {
	margin-top: 40px;
	text-align: center;
}

.meniuVertical {
	list-style-type: none; <!== Elimina bulinele din fata meniurilor ==>
	background-color: #15541E;
	padding-left: 0px;

}

.meniuVertical li{
	height: 30px;
	border: 1px inset #032408;
	text-align: center;
	color: 3A4;
	cursor: pointer;
	
}

#continut {
	width: 80%;
	background-color: #FFF;
	min-height:400px;
	float:right;
}

#Coloana1 {
		width: 320px;
		float: left;
		margin-left: 40px;
		text-align: justify;

}

#Coloana2 {
		width: 320px;
		float: right;
		margin-right: 40px;
		text-align: justify;

}

#subsol {
		height: 40px;
		background-color: #15541E;
		color: #FFF;
		text-align:center;
		clear: both; <!== Sterge float: right; si float: left; ==>
		padding-top: 1px;
		padding-bottom: 5px;

}